# roles/coredns/templates/Corefile.j2

home.arpa {
    file /etc/coredns/home.arpa.db {
        reload 5m
    }
    errors
}

consul:53 {
    errors
    cache 30
    forward . 127.0.0.1:8600
}

.:53 {
    errors
    # log # enable only while testing; disable for normal use to reduce noise/memory
    health :8080
    ready :8181
    prometheus :9153

    reload 10s
    loop
    loadbalance

    forward node.consul. {{ nomad_server.consul.dns_addr }}
    forward service.consul. {{ nomad_server.consul.dns_addr }}
    forward consul. {{ nomad_server.consul.dns_addr }}

    cache {
        success 3000 3600 5
        denial 1000 600 5
        prefetch 20 1m 10%
        serve_stale 1h
    }

    # Everything else to upstream resolvers
    forward . {{ coredns_config.upstream_dns | join(" ") }} {
        health_check 5s
        max_fails 2
    }
}
