job "coredns" {
  datacenters = ["homelab"]
  type        = "system"

  group "dns" {
    network {
      mode = "host"
      port "dns" { static = 53 }
      port "health" { static = 8080 }
      port "ready" { static = 8181 }
    }

    service {
      name = "coredns"
      port = "dns"
      tags = ["dns", "infra"]
      address_mode = "host"

      check {
        name     = "tcp-53"
        type     = "tcp"
        port     = "53"
        interval = "10s"
        timeout  = "2s"
      }

      check {
        name     = "health-endpoint"
        type     = "http"
        path     = "/health"
        port     = "health"
        interval = "10s"
        timeout  = "2s"
      }

      check {
        name     = "ready-endpoint"
        type     = "http"
        path     = "/ready"
        port     = "ready"
        interval = "10s"
        timeout  = "3s"
      }
    }

    task "coredns" {
      driver = "podman"

      config {
        image        = "docker.io/coredns/coredns:latest"
        network_mode = "host"
        args         = ["-conf", "/etc/coredns/Corefile"]
        cap_add      = ["NET_BIND_SERVICE"]

        volumes = [
          "{{ coredns_config.path }}/Corefile:/etc/coredns/Corefile:ro,Z",
          "/opt/nomad/jobs/coredns/data:/opt/nomad/jobs/coredns/data",
          "{{ coredns_config.path }}/home.arpa.db:/etc/coredns/home.arpa.db"
        ]
      }

      env {
        GOMEMLIMIT = "{{ coredns_config.go_mem_limit | default('200MiB') }}"
      }

      resources {
        cpu    = {{ coredns_config.cpu | default(100) }}
        memory = {{ coredns_config.memory | default(256) }}
      }
    }
  }
}
