job "forgejo" {
  datacenters = [{% for dc in forgejo_config.datacenters %}"{{ dc }}"{% if not loop.last %}, {% endif %}{% endfor %}]
  type = "service"
  namespace   = "{{ forgejo_config.nomad_namespace }}"

  group "forgejo" {
    count = 1

    network {
      mode = "host"

      port "http" {
        static = {{ forgejo_config.server.http.port }}
      }

      port "ssh" {
        static = {{ forgejo_config.server.ssh.port }}
      }
    }

    service {
      name = "forgejo"
      port = "http"

      check {
        name     = "forgejo-http"
        type     = "http"
        path     = "/"
        interval = "30s"
        timeout  = "5s"
      }
    }

    task "forgejo" {
      driver = "podman"

      config {
        image = "{{ forgejo_config.image }}"
        logging {
            driver = "journald"
        }
        network_mode = "host"
        volumes = [
            "{{ forgejo_config.data_dir }}/gitea:/var/lib/gitea:Z",
            "{{ forgejo_config.data_dir }}/data:/var/lib/postgres:Z",
            "/etc/localtime:/etc/localtime:ro"
        ]
      }

      user = "{{ forgejo_config.uid }}:{{ forgejo_config.gid }}"

      env {
        USER_UID = "{{ forgejo_config.uid }}"
        USER_GID = "{{ forgejo_config.gid }}"

        FORGEJO__actions__ENABLED = "{{ forgejo_config.actions_enabled | string | lower }}"

        FORGEJO__cache__ADAPTER = "{{ forgejo_config.cache.adapter }}"
        FORGEJO__cache__HOST    = "{{ forgejo_config.cache.host | replace('"', '\\"') }}"

        FORGEJO__database__DB_TYPE = "postgres"
        FORGEJO__database__HOST    = "{{ forgejo_config.database.host }}:{{ forgejo_config.database.port }}"
        FORGEJO__database__NAME    = "{{ secrets.forgejo.database.name }}"
        FORGEJO__database__PASSWD  = "{{ secrets.forgejo.database.password }}"
        FORGEJO__database__SCHEMA  = "{{ forgejo_config.database.schema }}"
        FORGEJO__database__USER    = "{{ secrets.forgejo.database.user }}"
        FORGEJO__mailer__ENABLED   = "{{ forgejo_config.mailer.enabled | string | lower }}"
        FORGEJO__mailer__PROTOCOL  = "{{ secrets.forgejo.mailer.protocol }}"
        FORGEJO__mailer__FROM      = "{{ secrets.forgejo.mailer.from }}"
        FORGEJO__mailer__SMTP_ADDR = "{{ secrets.forgejo.mailer.address }}"
        FORGEJO__mailer__SMTP_PORT = "{{ secrets.forgejo.mailer.port }}"
        FORGEJO__mailer__USER      = "{{ secrets.forgejo.mailer.user }}"
        FORGEJO__mailer__PASSWD    = "{{ secrets.forgejo.mailer.password }}"

        FORGEJO__packages__ENABLED = "{{ forgejo_config.packages.enabled | string | lower }}"

        FORGEJO__security__INSTALL_LOCK = "true"
        FORGEJO__security__LOGIN_REMEMBER_DAYS = "{{ forgejo_config.security.login_remember_days }}"

        FORGEJO__repository__signing__DEFAULT_TRUST_MODEL = "{{ forgejo_config.repository.signing.default_trust_model }}"

        FORGEJO__service__DISABLE_REGISTRATION = "{{ forgejo_config.service.disable_registration | string | lower }}"
        FORGEJO__service__REQUIRE_SIGNIN_VIEW  = "{{ forgejo_config.service.require_signin_view | string | lower }}"
        FORGEJO__service__ENABLE_NOTIFY_MAIL   = "{{ forgejo_config.service.enable_notify_mail | string | lower }}"

        FORGEJO__server__DOMAIN           = "{{ forgejo_config.server.domain }}"
        FORGEJO__server__ROOT_URL         = "{{ forgejo_config.server.root_url }}"
        FORGEJO__server__PROTOCOL         = "http"
        FORGEJO__server__HTTP_ADDR        = "{{ forgejo_config.server.http.address }}"
        FORGEJO__server__HTTP_PORT        = "{{ forgejo_config.server.http.port }}"
        FORGEJO__server__START_SSH_SERVER = "{{ forgejo_config.server.ssh.enabled | string | lower }}"
        FORGEJO__server__SSH_PORT         = "{{ forgejo_config.server.ssh.port }}"
      }

      resources {
        cpu    = {{ forgejo_config.cpu }}
        memory = {{ forgejo_config.memory }}
      }
    }
  }
}
