datacenter = "homelab"
data_dir   = "/opt/consul"

server = true
bootstrap_expect = 1

bind_addr      = "{% raw %}{{ GetPrivateIP }}{% endraw %}"
advertise_addr = "{% raw %}{{ GetPrivateIP }}{% endraw %}"
client_addr = "0.0.0.0"

ui_config {
  enabled = true
}

connect {
  enabled = true
}

encrypt = "{{consul_encryption_key}}"
