job "gitea" {
  datacenters = ["homelab"]
  namespace   = "{{ nomad_namespace }}"

  group "gitea" {
    task "gitea" {
      driver = "podman"
      config {
        image = "{{ gitea_config.image }}"
      }
      env {
        GITEA_CUSTOM = "{{ gitea_config.data_dir }}"
      }
    }

    service {
      name = "gitea"
      port = "{{ gitea_config.port }}"
      tags = ["gitea", "git", "development"]
      address_mode = "host"

      check {
        type     = "http"
        interval = "10s"
        timeout  = "5s"
        path     = "/api/healthz"
        port     = "{{ gitea_config.port }}"
      }
    }
  }
}
