datacenter = "homelab"
data_dir   = "/opt/nomad/data"

bind_addr = "0.0.0.0"

acl {
  enabled = true
}

advertise {
  http = "{{ ansible_default_ipv4.address }}:4646"
  rpc  = "{{ ansible_default_ipv4.address }}:4647"
  serf = "{{ ansible_default_ipv4.address }}:4648"
}

client {
  enabled = true
  network_interface = "{{ ansible_default_ipv4.interface }}"
  network_speed = 1000
  cni_path = "/opt/cni/bin"
}

consul {
  address = "127.0.0.1:8500"
  token = "{{ consul_nomad_token }}"
  auto_advertise = true
  server_service_name = "nomad"
  client_service_name = "nomad-client"
}

server {
  enabled = true
  bootstrap_expect = 1
}

telemetry {
  publish_allocation_metrics = true
  publish_node_metrics       = true
  prometheus_metrics         = true
}

tls {
  http = true
  rpc  = true

  ca_file   = "{{ nomad.vault.ca_file }}"
  cert_file = "{{ nomad.vault.cert_file }}"
  key_file  = "{{ nomad.vault.key_file }}"
}

ui {
  enabled = true

  consul {
    ui_url = "https://home-server-1.local:8501/ui"
  }

  vault {
    ui_url = "https://home-server-1.local:8200/ui"
  }
}

vault {
  enabled = true
  address = "{{ vault.addr }}"
  create_from_role = "{{ vault.nomad.role }}"
  token = "{{ vault_nomad_token }}"
  ca_file = "{{ nomad.vault.ca_file }}"
}

plugin "nomad-driver-podman" {
  config {
    volumes {
      enabled = true
    }
  }
}
