[Unit]
Description=Vault Auto Unseal
After=vault.service
PartOf=vault.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/vault-auto-unseal.sh
User=root
Group=root
RemainAfterExit=yes
TimeoutStartSec=120

[Install]
WantedBy=multi-user.target
