ui = true
disable_mlock = true

listener "tcp" {
  address     = "0.0.0.0:8200"
  tls_disable = 0
}

service_registration "consul" {
  address = "127.0.0.1:8500"
  service {
    name = "vault"
    port = 8200
    tags = ["api"]
    address = "{{ nomad_server.vault.hostname }}"

    tagged_addresses {
      lan_ipv4 = "{{ nomad_server.vault.hostname }}"
      wan_ipv4 = "{{ nomad_server.vault.hostname }}"
    }
  }
}

storage "raft" {
  path    = "/opt/vault/data"
  node_id = "vault1"
}

api_addr = "{{ nomad_server.vault.addr }}"
cluster_addr = "http://{{ ansible_default_ipv4.address }}:8201"
