datacenter = "homelab"
data_dir   = "/opt/consul"

server = true
bootstrap_expect = 1

addresses {
  http = "0.0.0.0"
}

bind_addr      = "0.0.0.0"
advertise_addr = "{{ ansible_default_ipv4.address }}"
client_addr    = "0.0.0.0"

ui_config {
  enabled = true
}

connect {
  enabled = true
}

encrypt = "{{ nomad_server.consul.nomad_token }}"
