datacenter = "homelab"
data_dir   = "/opt/nomad/data"

bind_addr = "0.0.0.0"

acl {
  enabled = true
}

advertise {
  http = "{{ ansible_default_ipv4.address }}:4646"
  rpc  = "{{ ansible_default_ipv4.address }}:4647"
  serf = "{{ ansible_default_ipv4.address }}:4648"
}

client {
  enabled = true
  network_speed = 1000
  node_class = "{{ ansible_architecture }}"
  cni_path = "/opt/cni/bin:/usr/libexec/cni"
}

consul {
  address = "127.0.0.1:8500"
  token = "{{ nomad_server.consul.nomad_token }}"
  auto_advertise = true
  server_service_name = "nomad"
  client_service_name = "nomad-client"
}

server {
  enabled = true
  bootstrap_expect = 1
}

telemetry {
  publish_allocation_metrics = true
  publish_node_metrics       = true
  prometheus_metrics         = true
}

tls {
  http = true
  rpc  = true

  ca_file   = "{{ nomad_server.nomad.vault.ca_file }}"
  cert_file = "{{ nomad_server.nomad.vault.cert_file }}"
  key_file  = "{{ nomad_server.nomad.vault.key_file }}"
}

ui {
  enabled = true

  consul {
    ui_url = "https://home-server-1.home.arpa:8500/ui"
  }

  vault {
    ui_url = "https://home-server-1.home.arpa:8200/ui"
  }
}

vault {
  enabled = true
  address = "{{ nomad_server.vault.addr }}"
  create_from_role = "{{ nomad_server.vault.get('nomad', {}).get('role', 'nomad-cluster') }}"
  token = "{{ nomad_vault_token }}"
  ca_file = "{{ nomad_server.nomad.vault.ca_file }}"
}

plugin "nomad-driver-podman" {
  config {
    socket_path = "unix:///run/podman/podman.sock"
    volumes {
      enabled = true
    }
  }
}
