job "postgresql" {
  type        = "service"
  datacenters = var.datacenters

  update {
    max_parallel     = 1
    min_healthy_time = "10s"
    healthy_deadline = "5m"
    auto_revert      = true
  }

  group "postgresql" {
    count = 1

    restart {
      attempts = 10
      interval = "5m"
      delay    = "15s"
      mode     = "delay"
    }

    network {
      port "db" {
        static = 5432
        to     = 5432
      }
    }

    service {
      name     = "postgresql"
      port     = "db"
      provider = "consul"

      tags = [
        "db",
        "postgres",
      ]

      check {
        type     = "tcp"
        interval = "10s"
        timeout  = "2s"
      }
    }

    task "postgresql" {
      driver = "podman"

      config {
        image = "docker.io/library/postgres:18-trixie"
        ports = ["db"]
      }

      env {
        POSTGRES_DB       = var.database
        POSTGRES_USER     = var.username
        POSTGRES_PASSWORD = var.password
      }

      resources {
        cpu    = var.cpu
        memory = var.memory
      }
    }
  }
}
